<footer class="footer">
    <small>
        The Ruby on Rails Small App by <a href="https://br.linkedin.com/in/joao-victor-xavier-5b961150">João Xavier</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>